[Unit]
Description=Set hostname using /etc/mac-hostname.sh
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/mac-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=network.target
